/* style.css */
.account-age {
  font-size: 1.9em;
  color: #2495c9;
}

.user-profile__data-regdate {
  color: #eb6709;
  font-size: 18px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.content__title {
  margin-bottom: 40px;
  font-family: "RobotoCondensed",sans-serif;
  font-size: 32px !important;
  font-weight: 800;
  line-height: 1.17;
  color: #cfd8dc;
}