/* style.css */
.account-age {
  font-size: 24px;
  color: #2495c9;
}

.user-profile__data-regdate {
  color: #eb6709 !important;
  font-size: 24px !important;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.content__title {
  font-size: 32px !important;
}

/* Base button styles */
.compareBtn, .saveBtn, .wipeBtn {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  text-shadow: 1px 1px 2px black;
}

/* from user-profile__data-list get the 4th child and make it 24px */
.user-profile__data-list > :nth-child(4) {
  font-size: 24px !important;
}

.user-profile__data-link {
  font-size: 24px !important;
}